apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: cert-manager
  repo: https://charts.jetstack.io
  version: v1.14.4
  releaseName: cert-manager
  valuesFile: values.yaml
  namespace: network
resources:
  - clusterissuer.yaml
