{{ define "talostfvars" -}}
controlplane = {
{{- range $node := (datasource "inventory").nodes }}
{{- if (has $node "controlplane") }}
  "{{ $node.ip }}" = "{{ $node.name }}"
{{- end -}}
{{- end }}
}

worker = {
{{- range $node := (datasource "inventory").nodes }}
{{- if (has $node "worker") }}
  "{{ $node.ip }}" = "{{ $node.name }}"
{{- end -}}
{{- end }}
}

cluster_name       = "{{ ( datasource "inventory").cluster_name }}"
cluster_endpoint   = "https://{{ (datasource "inventory").controlplane_proxy_hostname }}:6443"
kubernetes_version = "{{ (datasource "inventory").kubernetes_version }}"
talos_version      = "{{ (datasource "inventory").talos_version }}"
{{ end -}}

{{- $outPath := "000-configs/generated_configs/cluster-build.tfvars" }}
{{- tmpl.Exec "talostfvars" | file.Write $outPath }}
