{{ define "clusterpatches" -}}
cluster:
  allowSchedulingOnControlPlanes: true
  apiServer:
    certSANs:
    - "{{ (ds "inventory").controlplane_proxy_hostname }}"
    - "{{ (ds "inventory").controlplane_proxy_ip }}"
    - "127.0.0.1"
    disablePodSecurityPolicy: true
  network:  
    cni:
      name: "none"
  proxy:
    disabled: true
  controllerManager:
    extraArgs:
      bind-address: "0.0.0.0"
  scheduler:
    extraArgs:
      bind-address: "0.0.0.0"
  etcd:
    extraArgs:
      listen-metrics-urls: "http://0.0.0.0:2381"
{{ end -}}

{{- $outPath := "000-configs/generated_configs/clusterpatches.yaml" }}
{{- tmpl.Exec "clusterpatches" | file.Write $outPath }}
