cloudflare_email      = ""
cloudflare_api_key    = ""
cloudflare_account_id = ""
DISCORD_WEBHOOK       = ""
pihole_password       = ""
PODCAST_0             = ""
PODCAST_1             = ""
PODCAST_2             = ""
PODCAST_3             = ""
PODCAST_4             = ""
FILEPATH_0            = ""
FILEPATH_1            = ""
FILEPATH_2            = ""
FILEPATH_3            = ""
FILEPATH_4            = ""
