{{ define "talostfvars" -}}
controlplane = {
{{- range $node := (datasource "inventory").nodes }}
{{- if eq $node.type "controlplane" }}
  "{{ $node.ip }}" = "{{ $node.name }}"
{{- end -}}
{{- end }}
}

worker = {
{{- range $node := (datasource "inventory").nodes }}
{{- if eq $node.type "worker" }}
  "{{ $node.ip }}" = "{{ $node.name }}"
{{- end -}}
{{- end }}
}

cluster_name       = "{{ ( datasource "inventory").cluster_name }}"
cluster_endpoint   = "https://{{ (datasource "inventory").cluster_virtual_ip }}:6443"
kubernetes_version = "{{ (datasource "inventory").kubernetes_version }}"
talos_version      = "{{ (datasource "inventory").talos_version }}"
{{ end -}}

{{ defineDatasource "inventory" "configs/inventory.yaml" }}
{{- $outPath := "configs/generated_configs/cluster-build.tfvars" }}
{{- tmpl.Exec "talostfvars" | file.Write $outPath }}
