apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: grafana
  repo: https://grafana.github.io/helm-charts
  version: 8.8.5
  releaseName: grafana
  valuesFile: helmvalues.yaml
  namespace: monitoring
resources:
  - externalsecrets.yaml
